@use "reset";
@use "variables";

.wrapper {
    width: 100vw;
    height: 100vh;
    background: var(--app-bg-color);
    color: var(--primary-color);
    font: var(--font);
    display: flex;
    align-items: center;
    justify-content: center;
}

.page {
    display: flex;
    width: 1024px;
    height: 100%;
}

.content {
    padding: 8px;
    flex-grow: 1;
}