.Sidebar {
    height: 100%;
    width: 300px;
    border-right: 1px solid var(--border-color);
    padding: 14px;
    display: flex;
    flex-direction: column;
    padding: 8px 12px 20px 12px;
}

.link {
    padding: 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;

    &:active {
        color: var(--secondary-color);

        .icon { 
            transform: scale(0.9);
            fill: var(--secondary-color);
        }
    }

    &:hover {
        background: var(--border-color);
    }
}

.icon {
    transition: transform 0.1s ease;
    fill: var(--primary-color);
    margin-right: 12px;
}