.AppButton {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
}

.clear {
    color: var(--primary-color);
    border: none;
    background: none;
    border: none;
}

.primary {
    color: var(--primary-color);
    border: none;
    background: #0092F2;
    border: none;

    &:active {
        opacity: 0.8;
    }

    &:hover {
        background: #1A77F2;
    }
}